@model PlayerViewModel
@{
    ViewData["Title"] = SharedLocalizer["Matches"];
}

@section Styles {
    <link rel="stylesheet" href="~/libs/iCheck/skins/all.css">
    <link rel="stylesheet" href="~/libs/floating-action-button/css/zoom-floating-button.css">
}

@section Scripts {
    <script src="~/libs/iCheck/icheck.min.js"></script>
    <script src="~/libs/floating-action-button/js/zoom-floating-button.js"></script>
    <script src="~/js/pages/settings/companies.js"></script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @SharedLocalizer["Matches"]
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gear"></i> @SharedLocalizer["Settings"]</a></li>
        <li><a asp-controller="Matches" asp-action="Index">@SharedLocalizer["Matches"]</a></li>
        <li class="active">@SharedLocalizer["Match Creation"]</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <form id="company-form" asp-controller="Matches">
        @await Html.PartialAsync("Shared/_MatchForm")

        <div class="zoom">
            <a class="zoom-fab zoom-btn-large" id="zoomBtn"><i class="fa fa-bars"></i></a>
            <ul class="zoom-menu">
                <li>
                    <button type="submit" asp-action="Create" class="zoom-fab zoom-btn-sm zoom-btn-save scale-transition scale-out"
                            data-toggle="tooltip" title="@SharedLocalizer["Save"]">
                        <i class="fa fa-floppy-o"></i>
                    </button>
                </li>
            </ul>
        </div>
    </form>
</section>